<a href="https://colab.research.google.com/github/hyunspace/KNOU-DAOS/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [2]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)
df

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [8]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
# with open('output.json', mode='w', encoding='utf-8') as f:
#     json.dump(data, f, indent=4, ensure_ascii=False)

## DataFrame을 이용한 저장
# df = pd.DataFrame(data)
# df.to_json('ouput_df.json', orient='records', indent=4, force_ascii=False)

df2 = pd.DataFrame([data])
df.to_json('output_df2.json', orient='columns', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [16]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df

## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist()) #python의 리스트 형태
print(df.values)

## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [ ]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df = pd.DataFrame(data)
pd.to_csv('student.csv')
pd.to_json('student.csv')

## 세가지 방법 결과 비교

## 5-5 DataFrame 저장 방법

In [19]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')

## HTML 형식으로 저장
html_table = df.to_html()
# print(html_table)

with open('student_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [24]:
import requests

api_key = ""
url = f"http://openapi.seoul.go.kr:8088/{api_key}/json/energyUseDataSummaryInfo/1/5/"

# Test Parmas
params = {
    'KEY': api_key,
    'TYPE': 'json',
    'SERVICE': 'energyUseDataSummaryInfo',
    'START_INDEX': 1,
    'END_INDEX': 1000,
    'YEAR': '2025',
    'MON': '05'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

{'energyUseDataSummaryInfo': {'list_total_count': 1248, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2025', 'MON': '07', 'MM_TYPE': '학교', 'CNT': '6732', 'EUS': '141551738', 'EUS1': '132240913', 'EUS2': '129564534', 'ECO2_1': '10649014.5', 'ECO2_2': '10630841.7', 'GUS': '2841731', 'GUS1': '2746651', 'GUS2': '2502521', 'GCO2_1': '216718', 'GCO2_2': '433436', 'WUS': '1917215.8', 'WUS1': '1958274.4', 'WUS2': '1905184.4', 'WCO2_1': '-14513.6', 'WCO2_2': '-44543.968', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-10-01 04:02:14.0'}, {'YEAR': '2025', 'MON': '07', 'MM_TYPE': '개인', 'CNT': '1273710', 'EUS': '383967982', 'EUS1': '345624348', 'EUS2': '344675181', 'ECO2_1': '38818217.5', 'ECO2_2': '22506668.764', 'GUS': '8150919', 'GUS1': '8287566', 'GUS2': '8105541', 'GCO2_1': '-43879', 'GCO2_2': '-87758', 'WUS': '17694998.1', 'WUS1': '15267079.9', 'WUS2': '15328736.7', 'WCO2_1': '2397089.8', 'WCO2_2': '584625.062', 'HUS': '588333.531', 'HUS1': '500239.731', 'HUS2': '501376.981', 'HCO2_1': '87525.175', 'HCO2_2': '352891.776718', 'REG_DATE': '2025-10-01 04:02:14.0'}, {'YEAR': '2025', 'MON': '07', 'MM_TYPE': '기업', 'CNT': '19488', 'EUS': '741048399', 'EUS1': '722312553', 'EUS2': '718785514', 'ECO2_1': '20499365.5', 'ECO2_2': '20499365.5', 'GUS': '23121349', 'GUS1': '18685862', 'GUS2': '18183578', 'GCO2_1': '4697167', 'GCO2_2': '9394334', 'WUS': '4802088.4', 'WUS1': '4831287.2', 'WUS2': '4808435.6', 'WCO2_1': '-17773', 'WCO2_2': '-53319', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-10-01 04:02:14.0'}, {'YEAR': '2025', 'MON': '07', 'MM_TYPE': '공공기관', 'CNT': '2451', 'EUS': '177373818', 'EUS1': '171651318', 'EUS2': '170753365', 'ECO2_1': '6171476.5', 'ECO2_2': '6171476.5', 'GUS': '2664553', 'GUS1': '2617151', 'GUS2': '2553365', 'GCO2_1': '79330', 'GCO2_2': '158660', 'WUS': '1326285.8', 'WUS1': '1349205.6', 'WUS2': '1286763.6', 'WCO2_1': '8301.2', 'WCO2_2': '24903.6', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-10-01 04:02:14.0'}, {'YEAR': '2025', 'MON': '07', 'MM_TYPE': '공동주택관리소', 'CNT': '3728', 'EUS': '641818755', 'EUS1': '586141178', 'EUS2': '585160412', 'ECO2_1': '56167960', 'ECO2_2': '56167960', 'GUS': '2096103', 'GUS1': '2088665', 'GUS2': '1999003', 'GCO2_1': '52257.5', 'GCO2_2': '104515', 'WUS': '20901173', 'WUS1': '20899277.5', 'WUS2': '20551037.5', 'WCO2_1': '176015.5', 'WCO2_2': '528046.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-10-01 04:02:14.0'}]}}

## 데이터 프레임 생성

In [25]:
import pandas as pd


## requests로부터 response, body, item 항목 읽기
response = requests.get(url, params=params)
data = response.json()['energyUseDataSummaryInfo']['row']
print(type(data))
print(len(data))
print(data[0])

<class 'list'>
5
{'YEAR': '2025', 'MON': '07', 'MM_TYPE': '학교', 'CNT': '6732', 'EUS': '141551738', 'EUS1': '132240913', 'EUS2': '129564534', 'ECO2_1': '10649014.5', 'ECO2_2': '10630841.7', 'GUS': '2841731', 'GUS1': '2746651', 'GUS2': '2502521', 'GCO2_1': '216718', 'GCO2_2': '433436', 'WUS': '1917215.8', 'WUS1': '1958274.4', 'WUS2': '1905184.4', 'WCO2_1': '-14513.6', 'WCO2_2': '-44543.968', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-10-01 04:02:14.0'}

## 다양항 형식으로 데이터 저장

In [33]:
#df.to_csv('air_pollution.csv', index=False, encoding='utf-8')
df = pd.DataFrame(data)

df.to_csv('energy.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('energy.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('energy.xlsx', index=False)

## HTML 형식 데이터 저장
energy_html = df.to_html()

with open('energy.html', 'w') as f:
    f.write(energy_html)